<div class="containerHeight"  >

<div class="whitebox">
    <p class="text-black">{{data?.name}}</p>
    <p class="text-black">{{data?.description}}</p>
    <div class="lineAfter">
        <span class="plusSign" 
        (mouseleave)="onMouseleave($event)" 
        (mouseover)="onHover($event, data)" 
        [ngClass]="{'hoverReady': currentlyHoveredOne, 'plusSign': !currentlyHoveredOne}" *ngIf="DragStart"
        (mouseup)="onMouseUp()"
        ></span>
    </div>    
  </div>
</div>
<!-- 

<div class="pllantedOne basic">
  <app-droppping-area></app-droppping-area>
</div>
 -->






