<div class="containerHeight containerOfSplit"  >

<div class="whitebox">
    <p class="text-black">{{data?.name}}</p>
    <p class="text-black">{{data?.description}}</p>

    <div class="lineAfter bentCase"  [ngClass]="{ 'showYes': !currentlyHoveredOne && !DragStart}">
        <span class="plusSign" 
        (mouseleave)="onMouseleave($event)" 
        (mouseover)="onHover($event, data)"
        (mouseup)="onMouseUp($event, data, 'yes')" [ngClass]="{'hoverReady': currentlyHoveredOne, 'plusSign': !currentlyHoveredOne }" *ngIf="DragStart"></span>
        
    </div>    
    

    <div class="bent-line-container">
        <div class="bent-line"></div>
        <div class="vertical-line "  [ngClass]="{ 'showNo': !currentlyHoveredOne && !DragStart}">
            <span class="plusSign " 
        (mouseleave)="onMouseleave($event)" 
        (mouseover)="onHover($event, data)" 
        (mouseup)="onMouseUp($event, data, 'no')"
        [ngClass]="{'hoverReady': currentlyHoveredOne, 'plusSign': !currentlyHoveredOne}" *ngIf="DragStart"></span>

        <!-- <div class="basicDropChild containerHeight" 
        *ngFor="let yesObject of data.no; let i = index; let isLast = last">

            <app-basic-drop-place [data]="data" [isLast]="isLast"></app-basic-drop-place>
        
        </div> -->
        <div class="pllantedOne basic">
            <app-droppping-area [treeArray]="dataNo"></app-droppping-area>
        </div>

        </div>
    </div>

  </div>

</div>

<!-- <div class="" 
    *ngFor="let yesObject of data.yes; let i = index; let isLast = last">

        <app-basic-drop-place [data]="yesObject"   
        [isLast]="isLast"></app-basic-drop-place>
    
    </div> -->
    <div class="pllantedOne">
        <app-droppping-area [treeArray]="dataYes" [DragStart]="DragStart"
        [currentlyHoveredOne]="currentlyHoveredOne"></app-droppping-area>
    </div>
