



.whitebox {
    position: relative;
    background: white;
    width: 304px;
    height: 127px;
    border-radius: 29px;
    padding: 30px;
}

.containerHeight.containerOfSplit {
    height: 308px !important;
}



.lineAfter.bentCase {
    height: 180px !important;
}

.lineAfter {
    height: 80px;
    width: 5px;
    background-color: #838383;
    position: absolute;
    left: 40px;
    top: 100%;
}


.containerHeight {
    height: 207px;
}

.plusSign {
    height: 15px;
    display: block;
    width: 15px;
    background: #004eff;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
}

.vertical-line .plusSign {
    left: 103% !important;
}


.vertical-line .hoverReady {
    left: 103% !important;
} 


.hoverReady {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    height: 25px;
    width: 100px;
    background-color: rgba(170, 170, 170, 0.308);
    border-radius: 20px;

}

.outerLayer {
    margin-top: 30px;
}

.plusSign::after {
    content: '+';
    content: '+';
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 28px;
}


/* bent line for split */


.bent-line-container {
    position: relative;
    top: 83%;
}

.bent-line {
    position: absolute;
    left: 80%;
    top: 2px;
    border-left: 5px solid #838383;
    border-bottom: 5px solid #838383;
    border-bottom-left-radius: 60px;
    height: 48px;
    width: 260px;
}


.basicDropChild {
    position: absolute;
    top: 100%;
    left: -40px;
}



.vertical-line {
    /* position: absolute;
    top: -7px;
    left: calc(80% + 260px);
    width: 57px;
    height: 255px;
    border-top: 5px solid #838383;
    border-right: 5px solid #838383;
    border-top-right-radius: 60px; */
    position: absolute;
    top: 100%;
    left: 100%;
    width: 57px;
    height: 136px;
    border-top: 5px solid #838383;
    border-right: 5px solid #838383;
    border-top-right-radius: 60px;
  }

  .showYes::after {
    content: 'Yes';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: black;
    border-radius: 100%;
    font-size: 13px;
    border: 3px solid #838383;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .showNo::after {
    content: 'No';
    height: 30px;
    width: 30px;
    position: absolute;
    bottom: 21px;
    right: -17px;
    color: white;
    background-color: black;
    border-radius: 100%;
    font-size: 13px;
    border: 3px solid #838383;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  


