    <div 
        (mouseup)="onMouseUp($event, i)"
        
        (dragStart)="onDragStart($event, data)" 
        (dragMove)="onDragMove($event, data)"
        (dragEnd)="onDragEnd($event, data)"    
        *ngFor="let data of treeArray; let i = index; let isLast = last">
        
       <ng-container *ngIf="data?.type != 'split'">
        <app-basic-drop-place 
        [data]="data" 
        [DragStart]="DragStart" 
        [isLast]="isLast" 
        [currentlyHoveredOne]="currentlyHoveredOne"
        ></app-basic-drop-place>
       </ng-container>

       

       <ng-container *ngIf="data?.type == 'split'">
        <app-split-component 
        [data]="data" 
        [DragStart]="DragStart" 
        [isLast]="isLast" 
        [dataToAdd]="dataToAdd"
        [currentlyHoveredOne]="currentlyHoveredOne"
        [index]="i"
        (dataChangedInSplit)="dataAddedInSplit($event)"
        ></app-split-component>
       </ng-container>
    </div>
