

<!-- <button (click)="showData()">cllick</button> -->

<div (mouseup)="onMouseUp($event, i)" (dragMove)="onDragMove($event, data)"
        *ngFor="let data of treeArray; let i = index; let isLast = last">


        <ng-container>
                <app-split-component [data]="data" [DragStart]="DragStart"
                        [currentlyHoveredOne]="currentlyHoveredOne" [index]="i"
                        (dataChangedInSplit)="dataAddedInSplit($event)"></app-split-component>
        </ng-container>
</div>