<div class="">
  <div class="row example-boundary">

    <div class="sidebar col-3">

      <ul class="listParent" style="list-style: none;" >
        <li *ngFor="let data of items" class="liClass" [ngClass]="{'blurred': data.dragging}"
         
         >
        
          <div class="non-selectable newColoring" appDraggable appMovable 
          (dragStart)="onDragStart($event, data)" 
          (dragMove)="onDragMove($event, data)"
          (dragEnd)="onDragEnd($event, data)">
            {{data.name}}
          </div>
          <div class="opacClass newColoring" *ngIf="data.dragging">
            {{data.name}}
          </div>
        </li> 
      </ul>

    </div>

    <div class="col-9 bg-dark">
      <div class="outerLayer">

     <app-droppping-area></app-droppping-area>
      
    </div>



  </div>
</div>

